@model LLRM.Areas.Auth.Models.News
@{
    ViewBag.Title = "FullNews";
    Layout = "~/Views/Shared/Sidebar.cshtml";
}

<div class="col-sm-12 col-md-12">
    <div class="ulock-about">
        <p>
            <div class="message"><img src="~/UploadedFiles/@Model.Image" alt="No Image" /></div>
            @Html.Raw(Model.Description)
        </p>
    </div>
</div>




@section Sidebar{
    <div class="widget-sidebar">
        <div class="ulockd-all-service">

            <div class="list-group">
                
                @Html.ActionLink("About Us","AboutUs","",new {@class= "list-group-item" })
               @Html.ActionLink("Director  Message", "AboutUs", "", new { @class = "list-group-item" })
               

            </div>
        </div>
    </div>
    <div class="ulockd-inr-testimonials">
        <div class="ulockd-tm-client-details">
            <div class="ulockd-tm-name">
                <h4 class="text-thm1">Download Prospectus</h4>
            </div>
        </div>
        <p><a href="~/UploadedFiles/prospectus_2017_FOR_WEB.pdf" target="_blank">Click Here To Download</a></p>

    </div>
}




